@page

@model Unbored.Models.ITask;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @{
            foreach (var task in Model.TaskD)//appearing as null...fix please
            {
                @Html.DisplayFor(modeltask => task.AssignedTask);
            }
        }

    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>