@page
@model TestPageModel
@{
	ViewData["Title"] = "Test Page";
}
<h1>@ViewData["Title"]</h1>

<p>We can use this page to test differebt examples I guess.</p>

<div class="text-center">
    <h1 class="display-4">We can use this page to test differebt examples I guess.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
