@page
@model TestPageModel
@{
    ViewData["Title"] = "Test Page";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2 class="display-4">Press The Button Below.</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button id="Taskbutton">TASKBUTTON</button>
</div>
